{% extends '::base.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	{% stylesheets output='css/*.css' filter='cssrewrite' debug=false
        'bundles/crystalnews/css/flexslider.css'
    %}
        <link href="{{ asset_url }}" rel="stylesheet/less" media="screen" />
    {% endstylesheets %}
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">
		$(window).load(function(){
		  $('.flexslider').flexslider({
			animation: "slide",
			start: function(slider){
			  $('body').removeClass('loading');
			}
		  });
		});
	</script>
	<script>
		(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = "http://connect.facebook.net/es_LA/all.js#xfbml=1&appId=317565235017985";
				fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
{% endblock %}
{% block topMenu %}
	<section id="top-menu">
        <a href="http://misgustosmianime.tk" target="__blank"><section class="sec-forum"><article class="forum"><div class="title">MGM Anime Foro<div></article></section></a>
        <section class="sec-library"><article class="library"><div class="title">Biblioteca Anime</div></article></section>
        <section class="sec-radio"><article class="radio"><div class="title">MGM Anime Radio</div></article></section>
    </section>
{% endblock %}

{% block breaking %}
	<section id="breaking">
		<section class="slider">
			<div class="flexslider">
				<ul class="slides">
					<li>
						<img src="http://misgustosmianime.tk/mgmanime/pics/Breaking-5.jpg" width="700" height="350" />
						<div><span>Revisión de Robotics;Notes</span></div>
					</li>
					<li>
						<img src="http://misgustosmianime.tk/mgmanime/pics/Breaking-2.jpg" width="700" height="350" />
						<div><span>Chuunibyou demo koi ga shitai! llega a su fin</span></div>
					</li>
					<li>
						<img src="http://misgustosmianime.tk/mgmanime/pics/Breaking-3.jpg" width="700" height="350" />
						<div><span>Sakurasou no pet na kanojou fin del primer arco</span></div>
					</li>
					<li>
						<img src="http://misgustosmianime.tk/mgmanime/pics/Breaking-4.jpg" width="700" height="350" />
						<div><span>¿Tonari no kaibutsu kun termina?</span></div>
					</li>
					<li>
						<img src="http://misgustosmianime.tk/mgmanime/pics/Breaking-5.jpg" width="700" height="350" />
						<div><span>Boku wa tomodachi ga sukunai tendrá segunda temporada</span></div>
					</li>
				</ul>
			</div>
		</section>
		<div class="line-1">
			<img src="{{ asset('bundles/crystalnews/images/line-1.png') }}" width="900" height="84" />
		</div>
{% endblock %}

{% block news %}
	<section id="news">
		<article>
			<div>
				<div class="calendar">
					<div class="month">Dic</div>
					<div class="Day">20</div>
					<div class="Year">2012</div>
				</div>
			</div>
			<div class="newsTitle">
				<img src="pics/news-1.jpg" width="700" height="200" />
				<div><span>20th Century Boys una joya de Naoki Urasawa<br />Autor: Sawamura Kenji</span></div>
			</div>
			<div class="newsDescription">
				20th Century Boys es un manga de ciencia ficción y misterio, guionizado y dibujado por Naoki Urasawa, autor de otras obras como Monster o Yawara!.
				<br /><br />
				La serie comenzó a publicarse en 1999 en la revista Big Comic Spirits de la editorial Shōgakukan, y que termino con 22 tomos recopilatorios en Japón y en el que sus últimos capítulos cambian de título por el de 21st Century Boys...
				<a href="#">
					Leer M&aacute;s
				</a>
			</div>
			<div class="newsInfo"></div>
		</article>
		<div class="line-2">
			<img src="{{ asset('bundles/crystalnews/img/line-2.png') }}" width="700" height="72" />
		</div>
		<article>
			<div>
				<div class="calendar">
					<div class="month">Dic</div>
					<div class="Day">22</div>
					<div class="Year">2012</div>
				</div>
			</div>
			<div class="newsTitle">
				<img src="http://deluscar.files.wordpress.com/2012/12/chuunibyou-demo-koi-ga-shitai-01-1.jpg?w=774&h=435" width="774" height="435"/>
				<div><span>Chuunibyou demo koi ga shitai ! Llega a su fin <br/>Autor: -Noah-</span></div>
			</div>
			<div class="newsDescription">
				Una comedia romántica protagonizada por Yuuta Togashi y Rikka Takanashi. Yuuta padeció de “Chuunibyou”, o “enfermedad de 8vo grado”, una desorden psicológico donde el paciente cree que tiene super poderes y pretende salvar el mundo.

				<br /><br />

				Durante su último año en la escuela media, este trata de concentrarse solo en sus estudios y en tener una vida normal, encontrando así una cura. Ahora, en su primer año de preparatoria, se encuentra a sí mismo estableciendo un contrato con Rikka, una paciente infectado de “Chuunibyo”. ¿Cómo el paciente curado y el paciente infectado coexistirán?...
				<a href="#">
					Leer M&aacute;s
				</a>
			</div>
			<div class="newsInfo"></div>
		</article>
		<div class="line-2">
			<img src="img/line-3.png" width="700" height="106" />
		</div>
		<article>
			<div>
				<div class="calendar">
					<div class="month">Ene</div>
					<div class="Day">04</div>
					<div class="Year">2013</div>
				</div>
			</div>
			<div class="newsTitle">
				<img src="pics/news-2.jpg" width="900" height="649"/>
				<div><span>¿Tonari no kaibutsu kun termina? <br />Autor: Thenluna</span></div>
			</div>
			<div class="newsDescription">
				Mizutani Shizuku es del tipo de personas que solo se preocupa por sus calificaciones. Pero, cuando accidentalmente es asignada para llevarle las notas de las clases a Yoshida Haru, él se convencerá a si mismo de que son amigos.
				<br /><br />
				Haru resulta ser un chico con una personalidad bien inocente, pero ¿Quién pensaría que Haru se le confesara a Shizuku? El romance entre una chica fría y un chico problemático contado desde una nueva perspectiva...
				<a href="#">
					Leer M&aacute;s
				</a>
			</div>
			<div class="newsInfo"></div>
		</article>
	</section>
{% endblock %}
