{% extends '::base.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	{% stylesheets output='css/*.css' filter='cssrewrite' debug=false
        'bundles/crystalnews/css/flexslider.css'
    %}
        <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock %}
{% block javascripts %}
	{{ parent() }}

	{% javascripts 
        'bundles/crystalnews/js/jquery.flexslider.js'
    %}
        <script src="{{ asset_url }}" ></script>
    {% endjavascripts %}

	<script type="text/javascript">
		$(window).load(function(){
		  $('.flexslider').flexslider({
			animation: "slide",
			start: function(slider){
			  $('body').removeClass('loading');
			}
		  });
		});

		(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = "http://connect.facebook.net/es_LA/all.js#xfbml=1&appId=317565235017985";
				fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
{% endblock %}
{% block topMenu %}
	<section id="top-menu">
        <a href="http://misgustosmianime.tk" target="__blank"><section class="sec-forum"><article class="forum"><div class="title">MGM Anime Foro<div></article></section></a>
        <section class="sec-library"><article class="library"><div class="title">Biblioteca Anime</div></article></section>
        <section class="sec-radio"><article class="radio"><div class="title">MGM Anime Radio</div></article></section>
    </section>
{% endblock %}

{% block breaking %}
	<section id="breaking">
		<section class="slider">
			<div class="flexslider">
				<ul class="slides">
					{% for BkNew in BkNews %}
						<li>
							<img src="{{ asset('bundles/crystalnews/images/' ~ BkNew.imagePath) }}" width="700" height="350" />
							<div><span>{{ BkNew.idNew.Title }}</span></div>
						</li>
					{% endfor %}
				</ul>
			</div>
		</section>
		<div class="line-1">
			<img src="{{ asset('bundles/crystalnews/images/line-1.png') }}" width="900" height="84" />
		</div>
	</section>
{% endblock %}

{% block news %}
	<section id="news">
		{% set lines = 
			["",
				""]
		%}
		{% for New in pager.getResults %}
			<article>
				<div>
					<div class="calendar">
						<div class="month">{{ New.date | date("M") | trans() }}</div>
						<div class="day">{{ New.date | date("d") }}</div>
						<div class="year">{{ New.date | date("Y") }}</div>
					</div>
				</div>
				<div class="newsTitle">
					<img src="	pics/news-1.jpg" width="700" height="200" />
					<div><span>{{ New.Title }}<br />Autor: {{ New.idUser.UserName }}</span></div>
				</div>
				<div class="newsDescription">
					{{ New.content }}
					<a href="#">
						Leer M&aacute;s
					</a>
				</div>
				<div class="newsInfo"></div>
			</article>
			<div>
				{% if loop.index is divisibleby(2) %}
					<img src="{{ asset('bundles/crystalnews/images/line-3.png') }}" width="700" height="106" />			
				{% else %}
					<img src="{{ asset('bundles/crystalnews/images/line-2.png') }}" width="700" height="72" />
				{% endif %}
			</div>
		{% endfor %}		
	</section>
{% endblock %}

{% block sideBar %}
	<section id="register">
		<img src="{{ asset('bundles/crystalnews/images/register.png') }}" width="250" height="96" />
	</section>
	<aside id="fb-box">
		<div class="fb-like-box" data-href="http://www.facebook.com/misgustosmisanimes" data-width="250" data-height="500" data-show-faces="true" data-stream="false" data-header="true"></div>
	</aside>
	<aside id="fb-box">						
		<a class="twitter-timeline" href="https://twitter.com/MGMAnime" data-widget-id="287676963575959552" width="250" height="500">Tweets por @MGMAnime</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

	</aside>
{% endblock %}

