{% extends 'CrystalNewsBundle:Admin:admin.html.twig' %}
	{% block layout %}	
		<form method="post">
			<table cellpadding="0" cellspacing="0" >
				
				<tr>
					<td>Contenido:</td><td><input type="text" name ="txtContent" value="{{news.content}}" /></td>
				</tr>
				<tr>
					<td>Fecha:</td><td><input type="text" name ="txtDate" value="{{news.date}}" /></td>
				</tr>
				<tr>
					<td>Palabra clave:</td><td><input type="text"  name ="txtKeywords" value="{{news.keywords}}"/></td>
				</tr>
				
				<tr>
						<td>Categorias:</td>
						<td>
							<select name="txtCategory" >
								{% for categories in category %}
									<option value="{{categories.id}}">{{categories.Name}}</option>
								{% endfor %}
							</select>
						</td>	
				</tr>
				<tr>
					<td><input type="submit" name="btnNews" value="Guardar"/></td>
				</tr>
				
			</table>
		</form>
{% endblock %}

